<h1>All The Puppies <%= link_to 'Add New Puppy', new_puppy_path, {:class=> 'btn btn-default pull-right', :style => 'display:inline'} %>
</h1>

    <% @puppies.each do |puppy| %>
        
    

      <div class="col-md-3">
        <center><h2>
        <%= puppy.name %>
        </h2>
        <a href="/puppies/<%= puppy.id %>"><img class="img-responsive img-circle" style="height:200px" src="<%= puppy.img_url %>"></img></a>
        <h4><%= puppy.desc %></h4>
        <small><%= link_to 'Edit', edit_puppy_path(puppy) %> | <%= link_to 'Remove', puppy, method: :delete, data: { confirm: 'Are you sure?' } %></small></center>
      </div>

<% end %>
